{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

{% assign site_icon = site.title_image | default: "images/favicon-32x32.png" %}
{% assign site_icon_first_char = site_icon | slice: 0, 1 %}
{% unless site_icon_first_char == '/' %}
  {% assign site_icon = '/' | append: site_icon %}
{% endunless %}
<link rel="apple-touch-icon" href="{{ base_path }}{{ site_icon }}"/>
<link rel="icon" type="image/png" href="{{ base_path }}{{ site_icon }}"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
